*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}

body{
    display: grid;
    height: 100vh;
    overflow-x: hidden;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 'nav' 'main' 'footer';
}
header#header{
    grid-area: nav;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:forestgreen;
}
#logo h3 a{
    font-size: 1.7em;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
ul#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul#menu li{
    list-style: none;
    padding-right: 2em;
}

ul#menu li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

main#main{
    grid-area: main;
    padding-top: 2vmax;
    padding-left: 5vmax;
    padding-right: 5vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}
#train-track{
    position: relative;
    background-color: aliceblue;
}
.img-track{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100vw;
    height: 15vh;
}
.img-train{
    position: absolute;
    right: -8vw;
    bottom: 4vh;
    width: 7vw;
    height: 7vw;
    z-index: 999;
    animation: ride 15s linear 1s infinite;
}
footer#footer{
    grid-area: footer;
    background-color: rgb(62, 60, 59);
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-links{
    color: white;
}
#newsletter h4{
padding: 0.5em;
}
.newsletter{
    padding: 0.5em;
    outline: 1px solid green;
    line-height: 1em;
}
.btn-newsletter{
    padding: 0.5em;
    background-color: forestgreen;
    border: 1px solid forestgreen;
    color: white;
}

.puerta{
    height: 7vh;
    width: 10vw;
    background-color: grey;
    position: relative;
}
.puerta-izq{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 50%;
    background-color: green;
    border-right: 2px solid black;
}
.puerta-der{
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    min-width: 50%;
    background-color: green;
    border-left: 2px solid black;

}
#cerrar-puertas{
    display: none;
}
.cerrar{
    min-width: 50%;
    transition: width 3s;

}
.abrir{
    min-width: 5%;
    transition: width 3s;

}

#signals{
    margin-top: 3em;;
}
.signal{
    margin: 2em 0;
}
.remove-animation{
    animation: none !important;
}
.flip-img{
    transform: scaleX(-1);
}
.remove-flip{
    transform: scaleX(1);
}
@keyframes cerrarpuertas{
from{
    min-width: 5%;
}
to{
    min-width: 50%;
}
}

@keyframes abrirpuertas{
    from{
        min-width: 50%;
    }
    to{
        min-width: 5%;
    }
    }


@keyframes ride{
    from{
        right: -5vw;
    }
    to{
        right: 105vw;
    }
}

@keyframes rideatras{
    from{
        left: -5vw;
    }
    to{
        left: 105vw;
    }
}